<h1>Products</h1>

<table class="table table-striped" style="background-color: Khaki ">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td class="col-md-10">
                    <%= product.name %>
                </td>
                <td class="col-md-1">
                    <%= product.price %>
                </td>
                <td class="col-md-1">
                    <% if product.status == true %>
                    <p class= "bg-success">Active</p>
                    <% else %>
                    <p class= "bg-danger">Inactive </p>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>