
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome!</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
    <h2>Sign in as Admin</h2>
    <%= simple_form_for(:admin, :url => session_path(:admin), :class => 'form-vertical') do |f| %>
      <%= f.input :email, placeholder: 'Admin email', required: false %>
      <%= f.input :password, placeholder: 'Password', required: false %>
      <%= f.input :remember_me, as: :boolean %>
      <%= f.submit 'Sign in', class: "btn btn-primary" %>
      <p>
      <%= link_to "Forgot your password?", new_password_path(:admin) %>
      </p>
    <% end %>
    </div>
    <div class="col-md-6">
    <h2>Sign in as Cashier</h2>
    <%= simple_form_for(:cashier, :url => session_path(:cashier), :class => 'form-vertical') do |f| %>
      <%= f.input :email, placeholder: 'Cashier email', required: false %>
      <%= f.input :password, placeholder: 'Password', required: false %>
      <%= f.input :remember_me, as: :boolean %>
      <%= f.submit 'Sign in', class: "btn btn-primary" %>
      <p>
      <%= link_to "Forgot your password?", new_password_path(:cashier) %>
      </p>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "View public catalogue", publics_catalogue_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
