<%= simple_form_for @order, html: { class: "form-vertical"} do |f| %>
    <% #order_lines %>
    <%= f.simple_fields_for :order_lines do |order_line| %>
        <%= render 'order_line_fields', f: order_line %>
    <% end %>
    <div class='links'>
        <%= link_to_add_association 'Add item', f, :order_lines, class: "btn btn-primary" %>
    </div>
    <br>
    <%= f.input :cash, as: "decimal", placeholder: "Cash", input_html: { min: '0', step: 'any' }, required: true %>
    <%= f.submit 'Save', class: "btn btn-primary" %>
    <%= link_to 'Submit', summary_index_path, class: "btn btn-primary" %>
    <%= link_to "Cancel", orders_path, class: "btn btn-primary" %>
<% end%>