<div class='nested-fields'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Product name</h3>
    </div>
  <div class="panel-body">
    <%= f.collection_select :product_id, Product.where(status: true), :id, :name, required: true, :include_blank => true %>
    <%#= f.association :products, as: :collection_select, label: "Product name", required: true %>
    
    <%= f.input :quantity, as: "integer", placeholder: "Quantity", input_html: { min: '0', step: '1' }, required: true %>
    
    <%= link_to_remove_association "Remove item", f, class: "btn btn-danger"%>
    
    <%= f.hidden_field :order, :value => @order.id %>
    
  </div>
  </div>
</div>