<h1>Order Summary</h1>
<%= simple_form_for @order do |f| %>
<table class = "table table-striped">
    <thead>
        <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Cash</th>
        </tr>
    </thead>
    <tbody>
        
        <% @orders.each do |order| %>
        <tr>
        <td><%= order.order_lines.name %> </td>
        <td><%= order.order_lines %> </td>
        <% end %>
        <% @orders.each do |order| %>
        <td> <%= order.total_price %></td>
        <td><%= order.cash %></td>
        </tr>
        <% end %>
    </tbody>
    Input payment here:
    <%= f.input:cash, as: "decimal", placeholder: "Payment", input_html: { min: '0', step: 'any' }, required: true %>
    <%= f.submit_tag 'Confirm', class: "btn btn-primary" %>    
</table>
<% end %>

