<h1>Pending Orders</h1>

<%= link_to "Place New Order", new_order_path, :class => 'btn btn-primary' %>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cashier</th>
            <th>Total</th>
            <th>Cash</th>
            <th>Order</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
            <td>
                <%= order.id %>
            </td>
            <td>
                Placeholder
            </td>
            <td>
                <%= order.total_price %>
            </td>
            <td>
                <%= order.cash %>
            </td>
            <td>
               <%= link_to 'View', summary_index_path, class: "btn btn-primary" %>
            </td>
            <td>
                <%= link_to "Delete", order, method: :delete, class: "btn btn-danger" %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>
