<h1>Order Summary</h1>
 <%= link_to 'Back', :back, class: "btn btn-primary" %><br>
<b>Order ID:</b> <%= @order.id %><br>

<table class="table table-striped">
    <thead>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th colspan="4"></th>
    </thead>
    <tbody>
        <% @order.order_line_fields.each do |order| %>
            <tr>
                <td class="col-md-4">
                    <%= order.name %>
                </td>
                <td class="col-md-4">
                     <%=  order.quantity %>
                </td>
                <td class="col-md-4">
                    <%= order.total_price %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>