<h1>Daily Saleseport</h1>
<h5><small><i>
    As of <%= Time.now.strftime("%Y-%m-%d") %>
    </i></small></h5>

<table class = "table table-striped">
    <thead>
        <th>Product</th>
        <th>Qunatity sold today</th>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td class="col-md-6">
            <%= product.name %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>