<h1>Edit Cashier</h1>

<%= simple_form_for @cashier do |f| %>

    <%= f.input :email, placeholder: "Cashier email", required: true %>
    <%= f.input :password, placeholder: "Cashier password", required: true %>
    <%= f.input :password_confirmation, placeholder: "Cashier password", required: true %>
    <%= f.input :name, placeholder: "Cashier name", required: true %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Go back to Cashiers list", cashiers_path, class: "btn btn-primary" %>

<% end %>
