<h1>Cashiers</h1>
<%= link_to "Add Cashier", new_cashier_path, class: "btn btn-primary" %>


<table class="table table-striped" style="background-color: Khaki ">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Created By</th>
        <th>Status</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @cashiers.each do |cashier| %>
            <tr>
                <td>
                    <%= cashier.name %>
                </td>
                <td>
                    <%= cashier.email %>
                </td>
                <td>
                    <%= cashier.admin.email %>
                </td>
                <td>
                    <%#= cashier.status ? "Active" : "Inactive" %>
                      <% if cashier.status == true %>
                    <p class= "label label-success">Active</p>
                    <% else %>
                    <p class= "label label-danger">Inactive </p>
                    <% end %>
                </td>
                <td>
                    <%= link_to "Edit", edit_cashier_path(cashier), class: "btn btn-primary" %>
                </td>
                <td>
                    <%= link_to "View", cashier, class: "btn btn-warning" %>
                </td>
                <td>
                    <%#= link_to "Change status", cashier, method: :delete, class: "btn btn-primary" %>
                     <% if cashier.status == true %>
                    <%= link_to "Deactivate", cashier, method: :delete, class: "btn btn-danger" %>
                    <% else %>
                    <%= link_to "Activate", cashier, method: :delete, class: "btn btn-success" %>
                     <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>