<h1>Add Cashier</h1>
<%#narrowed the problem for cashiers to this page
I think the parameters are being rejected. looking thorugh this now -Raf

Use comments please Cabanes - Ino <3 %>

<!--Finally working. It was the extra ruby code I didn't completely comment out-->
<%= simple_form_for @cashier do |f| %>

    <%= f.input :email, placeholder: "Cashier email", required: true %>
    <%= f.input :password, placeholder: "Cashier password", required: true %>
    <%= f.input :password_confirmation, placeholder: "Cashier password", required: true %>
    <%= f.input :name, placeholder: "Cashier name", required: true %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Go back to Cashiers list", cashiers_path, class: "btn btn-primary" %>
<% end %>
