<h1>Cashier</h1>
 <%= link_to 'Back', :back, class: "btn btn-primary" %><br>
Name: <%= @cashier.name %><br>
Email: <%= @cashier.email %><br>
Orders Processed:

<table class="table table-striped">
    <thead>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Total Price</th>
        <th colspan="4"></th>
    </thead>
    <tbody>
        <% @cashier.orders.each do |order| %>
            <tr>
                <td class="col-md-4">
                    <%= order.id %>
                </td>
                <td class="col-md-4">
                     <%=  order.created_at %>
                </td>
                <td class="col-md-4">
                    <%= order.total_price %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>