<h1>Edit Product</h1>
<%= simple_form_for @product do |f| %>
    <%= f.input :name, placeholder: "Product name", required: true %>
    <%= f.input :price, as: "decimal", placeholder: "Price", input_html: { min: '0', step: 'any' }, required: true %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>