<h1>Products</h1>

<%= link_to "Create New Product", new_product_path, :class => 'btn btn-primary' %>

<table class="table table-striped" style="background-color: Khaki ">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th colspan="3"></th>
       
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td class="col-md-6">
                    <%= product.name %>
                </td>
                <td class="col-md-1">
                    <%= product.price %>
                </td>
                <td class="col-md-1">
                    <% if product.status == true %>
                    <p class= "label label-success">Active</p>
                    <% else %>
                    <p class= "label label-danger">Inactive </p>
                    <% end %>
                </td>
                <td>
                    <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
                </td>
                <td>
                    <%= link_to "View", product, class: "btn btn-warning" %>
                </td>
                <td>
                     <% if product.status == true %>
                    <%= link_to "Deactivate", product, method: :delete, class: "btn btn-danger" %>
                    <% else %>
                     <%= link_to "Activate", product, method: :delete, class: "btn btn-success" %>
                     <% end %>
                       
                    
                </td>
            </tr>
        <% end %>
    </tbody>
</table>