<h1>Product Information</h1>

<b>Name:</b> <%= @product.name %><br>
<b>Price:</b> <%= @product.price %><br>
<b>Product Status: 
<% if @product.status == true %>
    Active
    <% else %>
    Inactive
<% end %>
<br>
 <%= link_to "Go back to Product list", products_path, class: "btn btn-primary" %>