<!DOCTYPE html>
<html>
<head>
  <title>POS Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">POS Application</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if admin_signed_in? %>
              <li>
                <%= link_to "Products", products_path %>
              </li>
              <li>
                <%= link_to "Cashiers", cashiers_path %>
              </li>
              <li>
                <%= link_to "Report", report_index_path %>
              </li>
            <% end %>
            <% if cashier_signed_in? %>
              <li>
                <%= link_to "Orders", orders_path %>
              </li>
            <% end %>
          </ul>
          
          <p class="navbar-text pull-right">
          <% if admin_signed_in? %>
             Admin logged in as <strong><%= current_admin.email %></strong> |
            <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
          <% end %>
          <% if cashier_signed_in? %>
             Cashier logged in as <strong><%= current_cashier.email %></strong> |
            <%= link_to "Logout", destroy_cashier_session_path, method: :delete, :class => 'navbar-link'  %>
          <% end %>
          </p>
        </div>
      </div>
    </nav>
    
    
    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>
    
  </body>
</html>
